<% content_for :content_header  do %>
  <section class="content-header">
    <h1>
      Editing <small><%= link_to "Project", edit_admin_project_path(@admin_project)  %></small>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%= link_to "Projects", admin_projects_path %></li>
        <li class="active">Edit</li>
      </ol>
    </h1>
  </section>
<% end %>

<%= render 'form' %>
